{% comment %}
Parameters:

- base_url (path, optional)
- max_depth (int)
- disable_top_level_links (bool, optional)
- redirect_max_depth (bool, optional)
- include_global_pages (bool, optional)
- only_return_items (bool, optional)

redirect_max_depth = (bool) if true, redirect last level of links to first child of each page, if children exist.
{% endcomment %}

{% if lvl_base_url == nil %}
  {% assign lvl_base_url = '/' %}
  {% if include.base_url %}
    {% assign lvl_base_url = include.base_url %}
  {% endif %}
{% endif %}

{% assign current_lvl_url_length = lvl_base_url | split: '/' | size %}
{% if lvl_base_url == '/' %}
  {% assign current_lvl_url_length = 1 %}
{% endif %}

{% if start_lvl == nil %}
  {% assign start_lvl = current_lvl_url_length %}
{% endif %}

{% assign nodes = site.pages | sort: "sort" %}

{% capture links %}
  {% for node in nodes %}
    {% assign node_url_length = node.url | split: '/' | size | minus: 1 %}
    {% assign filename = node.url | split: '/' | last %}
    {% if node_url_length == current_lvl_url_length
    and node.url contains lvl_base_url
    and filename != 'index.html'
    and filename contains 'html'
    and node.exclude-from-nav != true %}
      {% capture subnav %}
        {% if include.max_depth > current_lvl_url_length | plus: 1 or include.max_depth == nil %}
          {% assign lvl_base_url = node.url | replace: '.html' | append: '/' %}

          {% comment %} Include can access parent state; hence no variables passed explicitly: {% endcomment %}
          {% include nav.html %}

          {% comment %} Reverse state changes made by child: {% endcomment %}
          {% assign current_lvl_url_length = current_lvl_url_length | minus: 1 %}
          {% assign directory_to_remove = lvl_base_url | split: '/' | last | append: '/' %}
          {% assign lvl_base_url = lvl_base_url | replace: directory_to_remove %}
        {% endif %}
      {% endcapture %}
      {% assign subnav = subnav | strip %}

      {% assign li_classes = 'page-link' %}

      {% assign element = 'a' %}
      {% if subnav.size > 0 %}
        {% assign li_classes = li_classes | append: ' has-children' %}
        {% if include.disable_top_level_links and start_lvl == current_lvl_url_length %}
          {% assign element = 'span' %}
          {% assign extra_atts = 'tabindex="0"' %}
        {% endif %}
      {% endif %}

      {% assign node_needle = node.url | split: '.' | first %}
      {% if page.url contains node_needle %}
        {% if page.url == node.url %}
          {% assign li_classes = li_classes | append: ' active-page' %}
        {% else %}
          {% assign li_classes = li_classes | append: ' active-parent' %}
        {% endif %}
      {% endif %}

      {% assign node_url = node.url %}
      {% if include.redirect_max_depth and current_lvl_url_length == include.max_depth %}
        {% capture child_url %}{% include nav-first-child-url.html page=node %}{% endcapture %}
        {% assign child_url = child_url | strip %}
        {% if child_url.size > 0 %}
          {% assign node_url = child_url %}
        {% endif %}
      {% endif %}

      <li class="{{ li_classes }}">
        <{{ element }} {{ extra_atts }} href='{{ node_url }}'>{{ node.title }}{{ extra_stuff }}</{{ element }}>
        {{ subnav }}
      </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% capture global_links %}
{% if include.include_global_pages and start_lvl == current_lvl_url_length %}
  {% assign global_pages = site.global_pages | sort: "sort" %}
  {% for global_page in global_pages %}
    <li class="page-link">
      <a href='{{ global_page.url }}'>{{ global_page.title }}</a>
    </li>
  {% endfor %}
{% endif %}
{% endcapture %}

{% assign links = links | strip %}
{% assign global_links = global_links | strip %}
{% if links.size > 0 %}
  {% if include.only_return_items and start_lvl == current_lvl_url_length %}
    {{ links }}{{ global_links }}
  {% else %}
    <ul>{{ links }}{{ global_links }}</ul>
  {% endif %}
{% endif %}
