<header class="content-header">

  {% assign current_page_url_length = page.url | split: '/' | size %}

  {% if current_page_url_length > 3 %}

    {% assign url_pieces = page.url | split: '/' %}

    {% assign to_pop = current_page_url_length | minus: 4 %}
    {% assign remaining_pieces = url_pieces | pop: to_pop %}
    {% assign page_base_identifier = remaining_pieces | join: '/' | split: '.' | first %}
    {% assign page_base_url = page_base_identifier | append: '.html' %}
    {% assign page_base_path = page_base_identifier | append: '/' %}

    {% assign is_section_home = false %}
    {% if page.url == page_base_url %}
      {% assign is_section_home = true %}
    {% endif %}

    {% for candidate in site.pages %}
      {% if candidate.url contains page_base_url %}
        {% assign parent=candidate %}
      {% endif %}
    {% endfor %}

    <h1>{{ parent.title }}</h1>

    <div class="page-nav">
      {% assign classes = '' %}
      {% if is_section_home %}
        {% assign classes = " class='active-page'" %}
      {% endif %}

      <li{{classes}}><a href="{{page_base_url}}">About</a></li>
      {% include nav.html base_url=page_base_path max_depth=4 only_return_items=true %}
    </div>

  {% else %}

    <h1>{{ page.title }}</h1>

  {% endif%}

</header>
