<header class="content-header">

  {% assign current_page_url_length = page.url | split: '/' | size %}

  {% if current_page_url_length > 3 %}

    {% assign url_pieces = page.url | split: '/' %}

    {% assign to_pop = current_page_url_length | minus: 4 %}
    {% assign remaining_pieces = url_pieces | pop: to_pop %}
    {% assign page_base_identifier = remaining_pieces | join: '/' | split: '.' | first %}
    {% assign page_base_url = page_base_identifier | append: '.html' %}
    {% assign page_base_path = page_base_identifier | append: '/' %}

    {% for candidate in site.pages %}
      {% if candidate.url contains page_base_url %}
        {% assign parent=candidate %}
      {% endif %}
    {% endfor %}

    <h1><a href="{{page_base_url}}">{{ parent.title }}</a></h1>

    <div class="page-nav">{% include nav.html base_url=page_base_path %}</div>

  {% else %}

    <h1>{{ page.title }}</h1>

  {% endif%}

</header>
