<header class="post-header">

  {% assign current_page_url_length = page.url | split: '/' | size %}

  {% if current_page_url_length == 5 %}

    {% assign rm = page.url | split: '/' | last | prepend: '/' %}
    {% assign parent_needle = page.url | replace: rm | append: '.html' %}
    {% assign sibling_needle = page.url | replace: rm | append: '/' %}

    {% capture siblings_nav_items %}
      {% assign candidates = site.pages | sort: "sort" %}
      {% for candidate in candidates %}
        {% if candidate.url contains parent_needle %}
          {% assign parent=candidate %}
        {% endif %}
        {% assign candidate_url_length = candidate.url | split: '/' | size %}
        {% if candidate.url contains sibling_needle and candidate_url_length == current_page_url_length %}
          {% assign extra_atts = '' %}
          {% if candidate.url == page.url %}
            {% assign extra_atts = ' class="is-active"' %}
          {% endif %}
          <li{{ extra_atts }}><a href="{{ candidate.url }}">{{ candidate.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endcapture %}

    <h1>{{ parent.title }}</h1>

    {% assign siblings_nav_items = siblings_nav_items | strip %}
    {% if siblings_nav_items.size > 0 %}
      <ul class="page-nav">{{ siblings_nav_items }}</ul>
    {% endif %}

  {% else %}

    <h1>{{ page.title }}</h1>

  {% endif%}

</header>