<div class="recent-news">

  {% for post in site.posts %}
  {% assign categories = post.categories | downcase %}
  {% if categories contains include.category %}
  <a class="item" href="{{ post.url }}">
    {% if post.thumbnail %}
    <span class="thumbnail" style="background-image:url('{{post.thumbnail}}')"></span>
    {% else %}
    <span class="thumbnail fa fa-camera-retro"></span>
    {% endif %}
    <span class="title">{{ post.title }}</span>
  </a>
  {% endif %}
  {% endfor %}

  <a class="item more" href="/categories/{{ include.category | downcase }}.html">
    <span class="thumbnail fa fa-ellipsis-h"></span>
    <span class="title">More news...</span>
  </a>

</div>