.button {
  text-decoration: none;
}



/**
 * Recent News
 */

.recent-news {
  overflow-x:scroll;
  display:flex;
  height: 220px;

  .item {
    text-align:center;
    height:190px;
    position:relative;
  }

  .thumbnail {
    width:150px;
    height:150px;
    background-size:cover;
    background-position:50% 50%;
    line-height:150px;
    margin:.25rem;
    flex:none;
  }

  .thumbnail.fa {
    font-size:$base-font-size * 2;
  }

  .title {
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
  }
}



/**
 * Gallery
 */

.gallery {
  .thumbnail {
    width:150px;
    height:150px;
    background-size:cover;
    background-position:50% 50%;
    margin:.2rem;
  }
}