@font-face {
  font-family: 'hk_grotesk';
  src: url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.eot');
  src: url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.woff2') format('woff2'),
  url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.woff') format('woff'),
  url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.ttf') format('truetype'),
  url('/fonts/hkgrotesk/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/fonts/hkgrotesk/hkgrotesk-light-webfont.eot');
  src: url('/fonts/hkgrotesk/hkgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/hkgrotesk/hkgrotesk-light-webfont.woff2') format('woff2'),
  url('/fonts/hkgrotesk/hkgrotesk-light-webfont.woff') format('woff'),
  url('/fonts/hkgrotesk/hkgrotesk-light-webfont.ttf') format('truetype'),
  url('/fonts/hkgrotesk/hkgrotesk-light-webfont.svg#hk_grotesklight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.eot');
  src: url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.woff2') format('woff2'),
  url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.woff') format('woff'),
  url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.ttf') format('truetype'),
  url('/fonts/hkgrotesk/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.eot');
  src: url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.woff2') format('woff2'),
  url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.woff') format('woff'),
  url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.ttf') format('truetype'),
  url('/fonts/hkgrotesk/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
  font-weight: normal;
  font-style: normal;
}