html {
  height:100%;
}

.home {
  background-image: url('/img/A.Background.jpg');
  background-size:cover;
  background-position:50% 50%;
  background-attachment:fixed;
  display:flex;
  min-height:100%;
  text-align:center;

  img {
    width: 15rem;
  }

  h1 {
    font-size:2rem;
  }
}

.wrapper {
  display:table;
  margin:auto;
  max-width:100%;
}

.start, .news {
  margin:0 0 $spacing-unit-absolute 0;
  @extend %glazed-box;
}

.start {
  padding: $spacing-unit-absolute;
}



/**
 * Home Page Nav
 */

.start {
  ul {
    overflow:hidden;
    padding:5px;
    display:table;
    margin:0 auto;
  }

  li {
    list-style-type:none;
    margin:.2rem;
    display:block;

    @media screen and (min-width: $on-palm) {
      float:left;
    }
  }

  a {
    @include section-button;

    display:block;

    &:hover {
      box-shadow: inset 0 0 5px darken($grey-color-light, 15%);
    }
  }
}




.ticker p {
  margin-bottom:0;
}

.news {
  position:relative;
  padding: $spacing-unit-absolute/2 $spacing-unit-absolute;

  .unslider-arrow.prev, .unslider-arrow.next {
    position:absolute;
    top:0.7rem;
    width:$spacing-unit-absolute;
    height:$touch-target-size;
    display:flex;
    text-decoration:none;
    opacity: 0;
    transition: opacity .5s;

    span {
      margin:auto;
    }
  }

  &:hover .unslider-arrow.prev, &:hover .unslider-arrow.next {
    opacity:1;
  }

  .unslider-arrow.prev {
    left:0;
  }

  .unslider-arrow.next {
    right:0;
  }
}