/**
 * Site header
 */
.site-header {
    height:11rem;
    padding: $spacing-unit-absolute $spacing-unit-relative;

    @extend %section-background-color;
}

.site-title {
    max-width: 100%;
    display:block;
    height:5rem;
    overflow:hidden;
    margin-bottom:$spacing-unit-absolute;

    img {
        display:block;
        height:100%;
    }
}



/**
 * Site footer
 */

// Sticky footer
html, body {
    height:100%;
}

body {
    display:flex;
    flex-direction: column;
}

.page-content {
    flex:1 0 auto;
}

.site-header, .site-footer {
    flex:none;
}
// End sticky footer

.site-footer {
    color:$grey-color-light;
    padding: $spacing-unit-absolute 0;

    @extend %section-background-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit-relative / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-search {
    padding:0 $spacing-unit-relative;
    display: -webkit-flex;
    display:flex;
    max-width:30rem;

    input {
        flex:1;
    }

    .button {
        border:none;
    }
}

.top-nav .footer-search {
    float:right;

    * {
        margin-bottom:0;
    }
}

.copyright {
    margin: $spacing-unit-absolute $spacing-unit-relative 0 $spacing-unit-relative;
    font-size: 15px;
}

.top-nav .copyright {
    margin-top:0;
}



/**
 * Default layout
 */

.hero {
    height:25vw;
    background-size:cover;
    background-repeat:no-repeat;
    flex:none;
}

.page-content {
    padding: $spacing-unit-absolute $spacing-unit-relative;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit-absolute;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Post & page layouts
 */

.post-header {
    margin-bottom: $spacing-unit-absolute;
    margin-right: $spacing-unit-absolute;
    display:table;
    float:left;
    max-width:17.5rem;
}

.edit {
    margin-top: $spacing-unit-absolute;
}

.post-content {
    max-width:35rem;
    float:left;
}