.section-switcher {
  @extend %focus-menu;

  span {
    margin-right: 1px;
    @extend %section-button-primary;
  }

  a {
    @include section-button;
  }
}

.menu-jump {
  text-decoration: none;
  display: inline-block;

  @include section-button;
}



/**
 * Mobile nav
 */

.nav {
  .section-switcher {
    display: none;
  }

  & > ul {
    margin: 0;

    li {
      list-style-type: none;
    }

    .has-children {
      margin: $spacing-unit-absolute 0;
    }

    a {
      @include section-button;
    }

    a, span {
      line-height: $touch-target-size;
      height: $touch-target-size;
      padding: 0 $spacing-unit-relative;
      display: block;
    }

    span {
      font-weight: bold;
    }

    li.active-page > a {
      background-color:$grey-color-light;
      @extend %section-text-color;
    }

    ul {
      margin: 0;
    }

    li li a {
      padding: 0 ($spacing-unit-relative * 2);
    }
  }
}



/**
 * Desktop nav
 */

.top-nav .nav {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  padding: 0 $spacing-unit-relative;
  height: $button-height;

  @extend %section-background-color;

  & > * {
    float: left;
  }

  &.docked {
    position: fixed;
    top: 0;
  }

  .section-switcher {
    display: inline-block;
  }

  & > ul {
    & > li {
      float: left;
      margin: 0;
      margin-right: 1px;
    }

    span, a {
      font-weight: normal;
      @include section-button;
    }
  }

  .has-children {
    @extend %focus-menu;
  }

  li.active-parent > span {
    background-color:$grey-color-light;
    @extend %section-text-color;
  }
}

/**
 * Page header pill nav
 */

.page-nav {
  margin: 0;

  li {
    list-style-type: none;
    margin-bottom: .3rem;
  }

  a {
    display: block;
    @extend %pill;
  }
}

/**
 * Page tabs
 */

.tabs-title a {
  margin: .3rem;
  font-size: 1rem;

  @extend %pill;
}

.tabs {
  border-top: none;
  border-left: none;
  border-right: none;
}