#nav {
  ul {
    margin:0;
  }

  li {
    list-style-type: none;
  }

  .has-children {
    margin: $spacing-unit-absolute 0;
  }

  a, a:visited {
    @extend %section-button;
  }

  a, a:visited, span {
    line-height: 10mm;
    display: block;
    padding:0 $spacing-unit-relative;
    text-decoration: none;
  }

  li li a {
    padding:0 ($spacing-unit-relative * 2);
  }

  span {
    font-weight:bold;
  }
}

.top-nav .site-header {
  height:11rem;

  .menu-jump {
    display:none;
  }
}

.top-nav #nav {
  position:absolute;
  top:9rem;
  left:0;
  right:0;
  padding:0 $spacing-unit-relative;

  @extend %section-background-color;

  &.docked {
    position:fixed;
    top:0;
  }

  h2, h3 {
    display:none;
  }

  ul ul {
    display:none;
  }

  li {
    float:left;
    margin:0;

    span, a {
      padding:0 $spacing-unit-absolute/2;
      font-weight:normal;
      line-height:2rem;
      @extend %section-button;
    }
  }
}