%glazed-box {
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

%menu-indicator {
  &:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left:7px;
    font-size:smaller;
    position:relative;
    top:-1px;
  }
}

%focus-menu {
  position:relative;
  display:inline-block;

  span {
    @extend %menu-indicator;
  }

  span:focus + ul {
    visibility:visible;
  }

  ul {
    visibility:hidden;
    transition: visibility 0s ease .1s;
    position:absolute;
    min-width:100%;
    margin:0;
    @extend %section-background-color;

    li {
      list-style-type:none;
    }

    a {
      white-space:nowrap;
      display:block;
    }
  }
}

// Section Colors

%section-background-color {
  background: $ministries-color;
  .academy & {
    background: $academy-color;
  }
  .college & {
    background: $college-color;
  }
}

%section-text-color {
  color: $ministries-color;
  .academy & {
    color: $academy-color;
  }
  .college & {
    color: $college-color;
  }
}

// Buttons

%button {
  cursor:pointer;
  padding:0 .7rem;
  line-height: $button-height;
  height: $button-height;
  text-decoration: none;
  display:inline-block;
}

%section-button-primary {
  @extend %button;
  @extend %section-text-color;
  background: $grey-color-light;
}

%pill {
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:.5rem;

  &:hover {
    background-color:$grey-color-light;
  }

  .active-page>&, &:focus, &[aria-selected="true"] {
    color:$grey-color-light;
    @extend %section-background-color;
  }
}
