%glazed-box {
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

%section-background-color {
  background: $ministries-color;
  .academy & {
    background: $academy-color;
  }
  .college & {
    background: $college-color;
  }
}

%section-text-color {
  color: $ministries-color;
  .academy & {
    color: $academy-color;
  }
  .college & {
    color: $college-color;
  }
}

%section-button {
  color:$grey-color-light;
  cursor:pointer;
  padding:0 $spacing-unit-absolute/2;
  line-height: $button-height;
  height: $button-height;

  @extend %section-background-color;

  &:hover, &:focus {
    background: $grey-color-light;
    @extend %section-text-color;
  }
}