<!DOCTYPE html>
<html>

  {% include head.html %}

  {% assign section = 'ministries' %}
  {% if page.url contains '/academy' %}
    {% assign section = 'academy' %}
  {% endif %}
  {% if page.url contains '/college' %}
    {% assign section = 'college' %}
  {% endif %}
  {% if page.url contains '/academy' and page.url contains '/college' %}
    {% assign section = 'ministries' %}
  {% endif %}


  <body class="{{ section }}">

    {% capture header %}{% include header.html %}{% endcapture %}{{ header | strip_newlines }}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
